<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <br />
    <h3>/\\\ Audovare</h3>
    <div>
      <p>3939 Michigan Lane</p>
      <p>Huston, TX 76850</p>
      <p>(436) 798-8000</p>
    </div>
  </body>
</html>
